.App {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bolder;
  
}
html {
  background-color: #c5d6ec;
  font-family: 'Pangolin', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.profilecontainer {
  display: flex;
  justify-content: space-between;
}
.newsfeedcontainer {
  display: flex;
  justify-content: space-evenly;
  
}
.profileleftpanel {
  display: flex;
  flex-direction: column;
  
  width: 15rem;
}
.leftpanel {
  
  background: #a6b1dd;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  height: 40rem;

  
}

.middle {
  display: flex;
  justify-content: center;
  align-self: center;
  background: #a6b1dd;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}
.rightside {
  display: flex;
  flex-direction: column;
  background: #a6b1dd;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  height: 40rem;
}

.links {
 color: inherit;
 text-decoration: none;
}
.links:hover {
  color: #a6b1dd;
}

.userpostpiccontainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* border: solid #000000 0.1rem; */
  /* border-radius: 50%; */
  height: 55px;
  width: 120px;
  margin-right:12rem; /*seperates the post username and the game title */
  /* margin-bottom: 4rem; */
  /* padding-top: 2rem; */
}

.posttitle {
  margin-top: 0;
  font-size:2rem;
  
  text-shadow: .2rem .2rem #a6b1dd;
}

.postpiccontainer {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  margin: 0;
  border-radius: 100%;
  margin-right: 8px;
}
.postpicimage {
  width: 100%;
  height: auto;
  
}

.profilepiccontainer {
  width: 10rem;
  height: 10rem;
  margin-bottom: 3.2rem;
  border-radius: 100%;
  overflow: hidden;
  border: white .1rem solid;
}
.profileheader {
  color: white;
  font-size: 1.5rem;
  
}
.profileh3 {
  margin-top:0;
}

.profilepicimage {
  width: 100%;
  height: auto;
  
}
.profilepicheader {
  float: left;
}
.profilepostcontainer {
  margin: 0 10rem;
}
.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid white 0.1rem;
  
  margin: 1rem;
  width: 30rem;
  
}
.post-top-row {
  display:flex;
  justify-content: space-evenly;
  
}
.postimgcontainer {
  width: 22rem;
  height: 13rem;
}
.postimg {
  width: 100%;
  height: auto;
}
.editdelpostbtns {

}

.likebutton {

}

.postcontent {
  margin-top:2rem;
}
.gamepagecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 20rem;
}
.gameimgcontainer {
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  float: center;
}
.gameimg {
  width: 100%;
  height: auto;
}

.memberactionscontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color:#c5d6ec;
  padding: 1rem;
  border: white solid 0.1rem;
  border-radius: 1rem;
  
}
button {
  background: transparent;
  background: #a6b1dd;
  border-radius: .4rem;
  border: solid .1rem white;
  padding: .5rem;
  width: 8rem;
}
button:hover {
  cursor:pointer;
  background: white;
  border: solid .1rem white;
}
.memberactionfollowers {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}
.addpostlink {
  text-decoration: none;
}
.viewprofilelink {
  text-decoration: none;
}
.searchlink {
  text-decoration: none;
}
.post {
  background-color:#c5d6ec;
  border-radius: 1rem;
}

.TopGamesContainer {
  background-color:#c5d6ec;
  display:flex;
  flex-direction: column;
  align-items: center;
  border: solid white .1rem;
  border-radius: 15%;
  padding: .4rem;
  margin-top: 1rem;
}
.ReactModal__Overlay--after-open {
  width: 55vw;
  height: 75vh;
  max-width: 55vw;
  max-height: 75vh;
  position: relative;
  margin-left: 20%;
  margin-top: 5%;
  overflow:scroll;  
}

.followermodal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.followermodalheader {
  
}
.followers {
  list-style-type: none;
}

#profilefollowermodal {
  background: #a6b1dd;
}