.App {
  text-align: center;
  background-color: #5680E9;
}
html {
  background-color: #5680E9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.profilecontainer {
  display: flex;
  justify-content: space-between;
}
.newsfeedcontainer {
  display: flex;
  justify-content: space-evenly;
}
.profileleftpanel {
  display: flex;
  flex-direction: column;
  
  width: 15rem;
}
.leftpanel {
  display: flex;
  flex-direction: column;
  
}
.middle {
  display: flex;
  justify-content: center;
  align-self: center;
}
.middle {
  display: flex;
  justify-content: center;
}
.rightside {
  display: flex;
  flex-direction: column;
  
}

.profilepiccircle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid #000000 0.1rem;
  border-radius: 60%;
  height: 15rem;
  width: 15rem;
  margin-bottom: 4rem;
  padding: 2rem 0rem;
  background:#C1C8E4;
}
.userpostpiccontainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* border: solid #000000 0.1rem; */
  /* border-radius: 50%; */
  height: 55px;
  width: 120px;
  margin-right:6rem;
  /* margin-bottom: 4rem; */
  /* padding-top: 2rem; */
}

.postpiccontainer {
  width: 5rem;
  height: auto;
  overflow: hidden;
  margin: 0;
  margin-right: 8px;
}
.postpicimage {
  width: 100%;
  height: auto;
  border-radius: 100%
}

.profilepiccontainer {
  width: 10rem;
  height: 10rem;
  
  margin-bottom: 2rem;
}

.profilepicimage {
  width: 100%;
  height: auto;
  border-radius: 100%;
}
.profilepicheader {
  float: left;
}
.profilepostcontainer {
  margin: 0 10rem;
}
.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 0.1rem;
  box-shadow: 10px 10px lightseagreen;
  margin: 1rem;
  width: 25rem;
  
}
.post-top-row {
  display:flex;
  justify-content: space-evenly;
}
.postimgcontainer {
  width: 19rem;
  height: 13rem;
}
.postimg {
  width: 100%;
  height: auto;
}
.gamepagecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 20rem;
}
.gameimgcontainer {
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  float: center;
}
.gameimg {
  width: 100%;
  height: auto;
}
.memberactions {
  border: black solid 0.1rem;
  
}
.memberactionscontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color:#C1C8E4;
  padding: 1rem;
  
}

.memberactionfollowers {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}
.addpostlink {
  text-decoration: none;
}
.viewprofilelink {
  text-decoration: none;
}
.searchlink {
  text-decoration: none;
}
.post {
  background-color:#C1C8E4;
  border-radius: 15px;
}

.TopGamesContainer {
  background-color:#C1C8E4;
  display:flex;
  flex-direction: column;
  align-items: center;

  padding: .4rem;
  border: .1rem solid;
  margin-top: 1rem;
}