.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.newsfeedcontainer {
  display: flex;
}

.leftpanel {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  
}
.middle{
  display:flex;
  justify-content: center;
}

.profilepiccircle {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:solid #000000 0.1rem;
  border-radius: 60%;
  height:15rem;
  width:15rem;
  margin-bottom: 4rem;
  padding-top: 2rem;
  
}

.profilepiccontainer {
  width: 10rem;
  height: 10rem;
  overflow:hidden;
  margin-bottom:2rem;
}

.profilepicimage {
  width: 100%;
  height: auto;
}
.profilepicheader {
  float:left;
}
.post {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 0.1rem;
  margin: 1rem;
}
.postimgcontainer {
  width: 16rem;
  height: 16rem;
}
.postimg {
  width: 100%;
  height: auto
}
.gamepagecontainer {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 20rem;
}
.gameimgcontainer {
  width: 20rem;
  height: 20rem;
  display:flex;
  justify-content: center;
  float:center;
}
.gameimg {
  width: 100%;
  height: auto
}
.memberactions {
  border: black solid 0.1rem;
  padding: 1rem;
}
.memberactionscontainer {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.memberactionfollowers {
  display:flex;
  justify-content: space-evenly;
  text-decoration: none;
}
.addpostlink {
  text-decoration: none;
}
.viewprofilelink {
  text-decoration: none;
}
.searchlink {
  text-decoration: none;
}