<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src *;
   img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' ;
   style-src  'self' 'unsafe-inline' *"
    />
    <link rel="icon" href="/images/mushroom.png" type="image/png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <title>Gamer's Paradise</title>
  </head>
  <nav>
    <div class="nav-wrapper indigo lighten-1">
      <a href="/members" class="left brand-logo">Gamers Paradise</a>
      <ul id="nav-mobile" class="right nav-look">
        <li><a href="/members">Home</a></li>
        <li><a href="/members/about">About Us!</a></li>
        <li><a href="/members/contact">Contact</a></li>
        <li><a href="/members/logout">Logout</a></li>
      </ul>
    </div>
  </nav>

  <body></body>
</html>
