${header}
<div class="game-page">
<form method="POST" enctype="multipart/form-data">
    <label >Title 
        <input type="text" name="title" placeholder="enter title" >
    </label>
    <br>
    <label >Game Title
        <select class="select" name="gameid">
            ${games.map(game=> `<option value="${game.id}">${game.title}</option>`)}
        </select>
    </label>
    <br>
    <label >Media
        <input type="file" name="media">
    </label> 
    <br>
    <label>Content
        <textarea  rows="4" cols="50" name="content" placeholder="Make a Post Here!"></textarea>
    </label> 
    <br>
    <input type="submit" value="POST">
</form>
</div>
${footer}