<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Security-Policy" content="default-src *;
   img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
   style-src  'self' 'unsafe-inline' *">
    <link rel="icon" href="/images/mushroom.png" type="image/png">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title> Gamer's Paradise </title>
</head>
<nav>
    <div class="nav-wrapper indigo lighten-1">
      <a href="/" class="left brand-logo">Gamers Paradise</a>
      <ul id="nav-mobile" class="right nav-look">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us!</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
<div class="game-page">
<body>
<h1 align="center">Welcome Please Sign Up for Your Gamer's Account</h1>
<br />
<h2 align="center" style="color: red">${error}</h2>
<br />
<form align="center" action="/signup" method="POST">
  <input type="text" name="username" autofocus placeholder="username" />
  <br />
  <input type="password" name="password" placeholder="password" />
  <br />
  <input type="text" name="name" placeholder="name" />
  <br />
  <input type="text" name="email" placeholder="e-mail" />
  <br />
  <input type="submit" value="SignUp" />
</form>
<br />
<div align="center">
  <a href="/"><button>BACK</button></a>
</div>

<div align="center">
  <p>If you have already Signed Up Please Click <a href="/user/login">HERE</a></p>
</div>
</div>
<!-- <script src="/scripts/main.js"></script> -->
${footer}
