${header}

<!-- <ul class="topnav">
  <li><a href="/members">Home</a></li>
  <li><a href="/members/about">About</a></li>
  <li><a href="/members/contact">Contact</a></li>
  <li><a href="/members/logout">Logout</a></li>
</ul> -->
<!-- delete this -->
<div class="members-heading">
  <h1>Welcome ${displayname}</h1>
  <a href="/members/create"><button>ADD POST</button></a>
  <a href="/members/profile/${id}"><button>VIEW PROFILE</button></a>
  <a href="/members/search"><button>SEARCH</button></a>
    
</div>
<!--  delete this -->
<br />
<br />
<ul class="grid-container">
  ${posts.map(p => { return `
  <li class="grid-item-3 content">
    <div>
      <div class="postDiv">
      <h2 class="post-title">${p.title}</h2>
      <br>
      <a href="/members/profile/${p.userid}">
        <h3 class="post-user">${p.User.displayname}</h3>
      </a>
      <br />
      <a href="/members/game/${p.Game == null ? '' : p.Game.id}">
        <h3 class="game-title">${p.Game == null ? "" : p.Game.title}</h3>
      </a>
    </div>
      <br>
      
      
        ${p.media.includes("/uploads/media/") ? `<div class="img-holder"><img src="${p.media}" class="image fit" alt="${p.User.displayname}'s image" />`:'' }
      
     </div>
      <p>${p.content}</p>
      <a href="/members/post/${p.id}/comment"><button>ADD COMMENT</button></a>
      
      ${p.User.id == id? `
        <a href="/members/post/${p.id}/edit"><button>EDIT POST</button></a>
        <a href="/members/post/${p.id}/delete"><button>DELETE POST</button></a>
      ` : ''}

      <ul >
        ${p.Comments ? p.Comments.map(c => `
        <li data-comment-id="${c.id}">
          ${c.User ? `<a href="/members/profile/${c.User.id}">${c.User.displayname}</a>` : ''}: ${c.content}
          ${c.User.id == id? `
            <a href="/members/comment/${c.id}/edit"><button>EDIT COMMENT</button></a>
            <a href="/members/comment/${c.id}/delete"><button>DELETE COMMENT</button></a>
          ` : ''}
          </li>
        `).join('') : '' }
      </ul>
    </div>
  </li>

  ` }).join('')}
</ul>

${footer}