${header}
<div class="game-page">
<h1>Search for a Post</h1>
<form action="/members/search" method="POST">
  <label>
    Search by Title:
    <input
      type="text"
      name="searchContent"
      placeholder="Enter Post Title"
      autofocus
    />
  </label>
  <input type="submit" value="Search" />
</form>
<br />
<form action="/members/game/search" method="POST">
  <label>
    Search by Game:
    <input type="text" name="searchStuff" placeholder="Enter Game Title" />
  </label>
  <input type="submit" value="Search" />
</form>
</div>
${footer}
